.content {
	margin-top: -60px;
}

.tooltip-inner {
	white-space: pre-wrap;
	font-size: 15px;
}

.page-sidebar-minified .header .navbar-brand{
	width: auto;
}

.header .navbar-brand{
	display: flex;
	align-items: center;
	padding: 30px 15px;
}

.sidebar{
	padding-top: 58px;
}

.header .navbar-brand>span{
	position: absolute;
	padding-left: 37px;
	line-height: 15px;
}

.news-caption {
	background: linear-gradient(to bottom,rgba(0, 0, 0, 0) 0,rgba(0,0,0,1) 160%) !important
}

.version {
	font-size: 12px;
}

.btn-fw {
	width: 60px;
}

.no-wrap{
	white-space: nowrap;
}

.form-group label{
	text-transform: uppercase;
	margin-bottom: .3rem;
	font-weight: 700;
}

.form-section-title{
	display: flex;
	align-items: center;
	font-size: 15px;
	font-weight: 600;
	color: #000;
	text-transform: uppercase;
	height: 100%;
	margin-left: 80px;
}

.btn-action{
	height: 45px;
	padding: 6px 20px;
	font-size: 15px;
	font-weight: 500;
}

.adrs, .email-adrs{
	position: relative;
	padding: 10px;
	margin-bottom: 15px;
	white-space: pre-wrap;
	font-size: 14px;
	border: 1px solid #2d353c;
	color: #2d353c;
	font-weight: 600;
}

.btn-edit-addr, .btn-edit-email-addr{
	width: 32.5px;
}

.adrs-row, .email-adrs-row{
	position: relative;
	padding: 10px;
	margin-bottom: 10px;
	min-height: 50px;
	font-size: 14px;
	color: #242a30;
	border: 1px solid #e6e6e6;
	box-shadow: 0 1px 1px 0px rgba(0, 0, 0, .1);
}

.adrs-buttons{
	position: absolute;
	top: 10px;
	right: 10px;
}

.adrs .adrs-del, .email-adrs .adrs-del{
	position: absolute;
	top: 0;
	right: 0;
	padding-right: 9px;
	padding-top: 5px;
	color: red;
	cursor: pointer;
}

.adrs .adrs-edit, .email-adrs .adrs-edit{
	position: absolute;
	top: 0;
	right: 18px;
	font-size: 12px;
	padding-right: 9px;
	padding-top: 6px;
	color: #00acac;
	cursor: pointer;
}

.disabled{
	background: #e5e9ed;
	opacity: .6;
	pointer-events: none;
}

.lbl-remove{
	cursor: pointer;
	color: red;
}

.flag-img {
	width: 25px;
	margin-right: 10px;
}

.d-block{
	display: block;
}

.remove-destination, .add-cargo {
	margin-top: 28px;
}

.port-timestamps td {
	width: 195px;
}

.btn-md {
	width: 70px;
}

.btn-view-more {
	width: 163px;
}

.btn-reservation {
	/*padding-left: 5px !important;*/
}

.row-details th {
	width: 135px;
}

.btn-mini {
	width: 45px;
}

.pace-progress {
	top: 0px;
	height: 5px;
}

.pace .pace-activity {
	top: 10px;
}

.table>.thead-custom th {
	color: #fff !important;
	background-color: #2d353c;
	border-color: #2d353c !important;
	border-bottom-color: 1px solid #2d353c!important;
}

.filter-sidenote {
	font-size: 12px;
	font-style: italic;
}

.full-height {
	height: 100% !important;
}

.header.navbar-default {
	background: transparent;
}

.header.navbar-default .navbar-toggle .icon-bar {
	background: #FFF;
}

.navbar-brand {
	color: #FFF !important;
}

input[name='vessel_name']:valid, input[name='cargo_packing']:valid {
	text-transform: uppercase;
}

.loader-item {
	position: absolute;
	color: #00acac;
	top: 50%;
	left: 50%;
	margin-top: -20px;
	margin-left: -20px;
}

.loader {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.5);
	z-index: 1020;
}

.loader-port {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.5);
}

.loader-port-item {
	position: absolute;
	color: #00acac;
	top: 50%;
	left: 50%;
	margin-top: -20px;
	margin-left: -20px;
}

#bl_form textarea {
	resize: none;
}

.table-bl th {
	width: 165px;
}

.form-control[readonly] {
	opacity: 1;
}

.unit_row{
	margin-bottom: 10px;
}

.cargo-table {
	max-height: 247px;
}

.hover {
	background: #e2e7ec!important;
}

#qty_table td, #qty_table tbody th {
	width: 60px;
}

#qty_table td input {
	width: 100%;
	border: none;
	text-align: center;
}

#qty_table input::-webkit-outer-spin-button,
#qty_table input::-webkit-inner-spin-button {
	/* display: none; <- Crashes Chrome on hover */
	-webkit-appearance: none;
	margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

#cargo_form textarea {
	font-family: 'Helvetica';
	resize: none;
}

.dropleft .dropdown-toggle::before{
	display: none;
}

.btn-dropdown{
	border: none;
	background: none;
	cursor: pointer;
	padding: 5px;
}

.table-bl>tbody>tr>td, .table-bl>tbody>tr>th, .table-bl>tfoot>tr>td, .table-bl>tfoot>tr>th, .table-bl>thead>tr>td, .table-bl>thead>tr>th {
	border-color: #000;
	padding: 5px;
}

.table-borderless thead th, .table-borderless>thead>tr>th{
	border-bottom: none !important;
	font-size: 13px;
}

.table-borderless td, .table-borderless th{
	border: none;
}

.bl-label{
	display: block;
	margin-bottom: 5px;
	font-size: 13px;
}

.bl-content{
	display: block;
	padding-left: 20px;
	padding-bottom: 5px;
}

.table-bl{
	font-size: 14px;
	color: #000;
}

.bl-lbl-goods{
	display: block;
	text-align: center;
	margin-top: 20px;
	font-weight: 700;
	font-size: 18px;
}

.bl-company{
	/*padding-top: 50px;*/
	/*padding-bottom: 50px;*/
	height: 300px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.table-so th{
	text-align: center;
}

.table-so td{
	border-bottom-color: #fff !important;
}

.table-so td:nth-child(-n+2){
	border-right-color: #fff !important;
}

.table-so-items th{
	vertical-align: middle !important;
}

.chief-officer{
	border-top: 2px dotted #000;
	text-align: center;
	position: absolute;
	width: 200px;
	right: 0;
	bottom: 0;
	margin-right: 10px;
	margin-bottom: 5px;
}

.sum_box{
	padding: 10px 0;
	text-align: right;
	border-top: 2px solid #000;
	border-bottom: 7px double #000;
}

.top-dotted{
	border-top: 2px dotted #000;
	text-align: center;
	padding: 10px;
	margin: 0 20px 0 40px;
}

.as-agent{
	text-align: right;
	margin-top: 70px;
	border-top: 1px solid #000;
	font-size: 20px;
	width: 400px;
}

.manifest .kastam{
	text-align: center;
	font-weight: 600;
	margin-bottom: 30px;
}

.manifest .m-empty-content{
	display: flex;
	align-items: center;
	width: 100%;
	padding-right: 40px;
}

.manifest .m-content::before{
	content: ':';
	padding-left: 10px;
	padding-right: 15px;
}

.manifest td{
	padding: 0 !important;
}

.manifest hr{
	border: none;
	border-width: 1px;
	border-style: dashed;
	margin: 0;
	width: 100%;
	height: 0;
}

.manifest{
	color: #000;
}

.manifest tr:last-child > td{
	padding-bottom: 30px !important;
	border-bottom: 1px solid #000;
}

.table-manifest2-content .manifest-title{
	text-decoration: underline;
}

.table-manifest2-content td{
	border-top: 1px solid #fff !important;
}

.table-manifest2-content .tr-bl:not(:last-child) > td{
	border-bottom: 1px solid #000;
}

.table-manifest-content td{
	color: #000;
}

.table-manifest-content th:first-child, .table-manifest-content td:first-child{
	padding-left: 0;
}

.table-manifest-content th:nth-last-child(-n+2), .table-manifest-content td:nth-last-child(-n+2){
	padding-right: 0;
	text-align: right;
}

.table-manifest-content td:nth-last-child(2){
	text-align: right;
}

.table-manifest-content .sum_box{
	text-align: left;
	margin-top: 10px;
	width: 50px;
}

.table-manifest-content thead{
	border-top: 1px solid #000;
	border-bottom: 1px solid #000 !important;
}

.select2-container--default .select2-selection--single{
	height: 46px !important;
}

.select2-container--default .select2-selection--single .select2-selection__rendered{
	line-height: 46px !important;
	font-size: 14px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow{
	height: 46px !important;
}

.lbl-filter-remove{
	float: right;
	cursor: pointer;
	color: red;
}

.select2-container{
	/*width: 100% !important;*/
}

.table-manifest-list input[type=checkbox]{
	margin-top: 5px;
}

.table-malsuria .bl-label-malsuria{
	margin-bottom: 0px !important;
}

.table-malsuria .bl-label-malsuria + .bl-content{
	padding-bottom: 0px !important;
}

.table-malsuria .row-malsuria-goods td{
	border-bottom-color: #fff !important;
}

td[id^="container_id"] > p{
	white-space: pre-wrap;
}

.port-name{
	font-style: italic;
}

.label.label-actual{
	background: #e30510;
	font-size: 14px;
}

.label.label-estimate{
	background: #302483;
	font-size: 14px;	
}

.btn-charges{
	padding-right: 14px;
	padding-left: 13px;
}

.more-details:hover{
	background: #0079ff !important;
	color: white;
	cursor: pointer;
}

.more-details.shown{
	background: #0079ff !important;
	color: white;
}

.div-details{
	display: none;
	padding: 10px;
	background-color: #fff !important;
}

.increasedzindexclass{
	z-index: 99999;
}

.table-fl-header td{
	padding-top: 5px !important;
	padding-bottom: 5px !important;
}

.table-fl-header td:nth-child(2n+1){
	white-space: nowrap;
	font-weight: 700;
}

.table-fl-header tr:last-child > td{
	padding-bottom: 0 !important;
}

.fl-content{
	padding: 0 15px 15px 15px;
}

.underline{
	border-bottom: 1px solid #000 !important;
}

.table-fl-charges th{
	font-size: 15px !important;
	padding-left: 0 !important;
	padding-right: 0 !important;
}

.table-fl-charges td:first-child{
	padding-left: 0 !important;
}

.table-fl-charges td:not(:first-child){
	width: 1%;
	white-space: nowrap;
	text-align: right;
}

.table-fl-charges > tbody > tr:nth-last-child(2) td{
	padding-bottom: 15px;
}

.tr-fl-sum td:nth-child(2), .tr-fl-sum td:nth-child(3){
	border-top: 1px solid #000;
	border-bottom: 1px solid #000;
}

.table-fl-cargo td:first-child{
	padding: 0 0 1rem 0;
}

.select2-results__options{
	color: #242a30;
	font-size: 14px;
}

.table-cargoreport{
	margin-bottom: 3rem;
}

.table-cargoreport th{
	width: 20%;
}

.table-cargoreport td:first-child, .table-cargoreport th{
	text-transform: uppercase;
	font-weight: 700;
}

.text-underline{
	text-decoration: underline;
}

.toolbar{
	float: left;
}

.col-ata::after{
	content: 'A';
	background: #e30510;
	font-size: 14px;
	display: inline;
	padding: .2em .6em .3em;
	line-height: 1;
	vertical-align: baseline;
	border-radius: .25em;
	color: #fff;
	font-weight: 600;
	text-align: center;
	white-space: nowrap;
	margin-left: 10px;
}

.col-eta::after{
	content: 'E';
	background: #302483;
	font-size: 14px;
	display: inline;
	padding: .2em .6em .3em;
	line-height: 1;
	vertical-align: baseline;
	border-radius: .25em;
	color: #fff;
	font-weight: 600;
	text-align: center;
	white-space: nowrap;
	margin-left: 10px;
}

.prewrap{
	white-space: pre-wrap;
}

/* Printing CSS */
@media print{

	.manifest tr:last-child > td{
		padding-bottom: 30px !important;
		border-bottom: 1px solid #000 !important;
	}

	.table-manifest2-content .manifest-title{
		text-decoration: underline;
	}

	.table-manifest2-content .tr-bl>td{
		border-top: 1px solid #fff;
	}

	.table-manifest2-content .tr-bl:not(:last-child) > td{
		border-bottom: 1px solid #000;
	}

	.btn-scroll-to-top{
		display: none!important;
	}

	.page-header{
		display:none!important
	}

	.table-bl.table-form-format>tbody>tr>td, .table-bl.table-form-format>tbody>tr>th, .table-bl.table-form-format>tfoot>tr>td, .table-bl.table-form-format>tfoot>tr>th, .table-bl.table-form-format>thead>tr>td, .table-bl.table-form-format>thead>tr>th {
		border-color: #fff !important;
	}

	.table-so.table-form-format>tbody>tr>td, .table-so.table-form-format>tbody>tr>th, .table-so.table-form-format>tfoot>tr>td, .table-so.table-form-format>tfoot>tr>th, .table-so.table-form-format>thead>tr>td, .table-so.table-form-format>thead>tr>th {
		border-color: #fff !important;
	}

	.table-bl>tbody>tr>td, .table-bl>tbody>tr>th, .table-bl>tfoot>tr>td, .table-bl>tfoot>tr>th, .table-bl>thead>tr>td, .table-bl>thead>tr>th {
		border-color: #000 !important;
		padding: 5px;
	}

	.p-20{
		padding: 0!important
	}

	.btn-hidden{
		display: none;
	}

	.opacity-0{
		opacity: 0;
	}

	.content, .page-header-fixed, body{
		padding:0!important;
		margin:0!important;
	}

	.table-borderless thead th, .table-borderless>thead>tr>th{
		border-bottom: none !important;
		font-size: 13px;
	}

	.table-borderless td, .table-borderless th{
		border: none !important;
	}

	.bl-lbl-goods{
		display: block;
		text-align: center;
		margin-top: 20px;
		font-weight: 700;
		font-size: 18px;
	}

	.table-manifest-content, .manifest{
		min-width: 100% !important;
	}

	.table-manifest-content th:last-child, .table-manifest-content td:last-child, .manifest td:last-child{
		padding-right: 10px;
	}


	.table-malsuria .bl-label-malsuria{
		margin-bottom: 0px !important;
	}

	.table-malsuria .bl-label-malsuria + .bl-content{
		padding-bottom: 0px !important;
	}

	/* Custom header for voyage schedule */
	.table>.thead-custom th {
		-webkit-print-color-adjust: exact;
		color: #fff !important;
		background-color: #2d353c !important;
		border-color: #2d353c !important;
		border-bottom-color: 1px solid #2d353c!important;
	}

	.tr-fl-sum td:nth-child(2), .tr-fl-sum td:nth-child(3){
		border-top: 1px solid #000 !important;
		border-bottom: 1px solid #000 !important;
	}

	.header,.hidden-print,.sidebar,.sidebar-bg,.theme-panel{display:none!important}.invoice-company{border-bottom:1px solid #e2e7eb!important;margin-bottom:20px!important}.invoice .invoice-from,.invoice .invoice-to{float:left!important;display:inline!important;width:25%!important;margin:0!important}.invoice .invoice-date{float:right!important;margin:0!important;width:25%!important;display:inline!important;text-align:right!important}.invoice-price,.invoice-price .invoice-price-left .sub-price,.table-responsive{display:block!important;float:left!important}.invoice-header{margin:0!important;padding:0!important}.table-responsive{border:none!important;width:100%!important;margin-top:10px!important}.invoice-price{margin-top:20px!important;border:1px solid #e2e7eb!important;width:100%!important}.invoice .invoice-price .invoice-price-left,.invoice .invoice-price .invoice-price-right{display:block!important;float:left!important;width:75%!important}.invoice .invoice-price .invoice-price-right{width:25%!important}.invoice-price .invoice-price-right{text-align:right!important;color:#2d353c!important}.invoice-price .invoice-price-left .sub-price{margin-top:5px}.invoice-footer,.invoice-note{float:left!important;width:100%!important}.container,body{min-width:inherit!important}
}

pre{
	font-family: Arial;
	line-height: 1.7px;
	font-size: 100%;
}

.dashboardcode-bsmultiselect .badge{
	background: transparent;
	color: #242a30;
}

.dashboardcode-bsmultiselect ul.form-control
{
	min-height: 46px;
}

.dashboardcode-bsmultiselect ul.form-control span{
	font-weight: normal;
	font-size: 14px;
	line-height: 2em;
}

.m-b-2 { margin-bottom: 2px; }
.l-h-60 { line-height: 60px; }
.p-b-30 { padding-bottom: 30px; }
.p-b-20 { padding-bottom: 20px; }
.p-t-30 { padding-top: 30px; }

/* SCROLLBAR CSS */
::-webkit-scrollbar {
	width: 6px;
	height: 6px;
} 
::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
} 
::-webkit-scrollbar-thumb {
	background: #00acac;
	border-radius: 20px;
	/*-webkit-box-shadow: inset 0 0 6px rgba(0,172,172,1); */
}

@media(max-width: 767px) {
	td > .btn-booking, .btn-reservation, .btn-mini {
		margin-top: 16px;
	}

	.navbar-header {
		background: #2d353c;
	}

	.breadcrumb {
		float: right !important;
	}

	.content {
		margin-top: 50px;
	}

	.page-header {
		font-size: 20px;
	}
}

@media(min-width: 767px) and (max-width: 1565px){
	.btn-mini {
		width: 70px;
	}
}

@media(min-width: 767px) {
	.header {
		width: 220px;
	}
}

@media (min-width: 768px) {
	.modal-xl {
		width: 90%;
		max-width:1200px;
	}
}

.editablecontent{
	padding: 10px;
	font-family: 'Helvetica';
	border: 1px solid #d3d8de;
	border-radius: 3px;
	font-size: 14px;
	color: #495057;
	background: #e5e9ed;
	min-height: 46px;
}

.create.editablecontent[contenteditable=true]:empty:before {
  content: attr(placeholder);
  display: block; /* For Firefox */
}

.create.editablecontent{
	background: #fff !important;
}

.detaileddesc.create.editablecontent{
	width: 700px;
	min-height: 300px;
	max-height: 300px;
	overflow-y: auto;
}

.cargo_form label.form-group{
	white-space: nowrap;
}